.table {
	width: 100%;
	border-collapse: collapse;

	.header {
		background: #474955;
		box-shadow: 0px 4px 27px 0px rgba(230, 231, 234, 0.78);
		color: #fff;

		tr {
			text-align: center;
		}

		th {
			.sortBtn {
				width: 100%;
				padding: 0 10px;

				font-size: 14px;
				font-weight: 600;

				background: #474955;
				color: #fff;
				line-height: 54px;
				border: none;
				cursor: pointer;

				transition: background-color 0.3s ease;

				&::after {
					content: "";
					display: inline-block;
					width: 12px;
					height: 6px;
					margin-inline-start: 39px;

					background: url("./arrow.svg") center no-repeat;
					background-size: contain;
					opacity: 0;

					transition: opacity 0.3s ease, transform 0.3s ease;

					@media screen and (max-width: 1199.98px) {
						margin-inline-start: 15px;
					}
				}

				@media (any-hover: hover) {
					&:hover {
						background: #5a5c66;
					}
				}
			}
			&.active .sortBtn {
				&::after {
					opacity: 1;
				}
			}
			&.active.desc .sortBtn {
				&::after {
					transform: rotate(180deg);
				}
			}
		}
	}

	tbody {
		@media screen and (min-width: 799.98px) {
			border: 1px solid #e3e6ec;
			border-top: none;

			.row + .row {
				border-top: 1px solid #e3e6ec;
			}
		}

		td {
			padding: 14px 10px;

			font-size: 13px;
			font-weight: 500;
			line-height: 1.37;

			@media screen and (min-width: 799.98px) {
				min-height: 56px;
			}
		}

		.id {
			@media screen and (min-width: 799.98px) {
				height: 56px;
				padding: 0 10px;
			}
		}

		@media screen and (min-width: 799.98px) {
			.id,
			.title {
				border-right: 1px solid #e3e6ec;
			}
		}

		.emptyCell {
			justify-content: center;
			width: 100%;

			text-align: center;
		}
	}

	@media screen and (min-width: 799.98px) {
		.id {
			width: 10%;
			text-align: center;
		}
		.title {
			width: 45%;
		}
		.body {
			width: 45%;
		}
	}

	@media screen and (max-width: 799.98px) {
		border: 0;

		thead {
			display: none;
		}

		tr {
			display: block;
			padding: 0 10px;
			margin-bottom: 10px;
			background: #ffffff;
			box-shadow: 0px 4px 27px 0px rgba(230, 231, 234, 0.78);
			border-radius: 5px;
		}

		td {
			display: flex;
			justify-content: space-between;
			text-align: end;
			border-bottom: 1px solid #e4e4e4;
			border-right: 1px solid transparent;
		}

		td:last-child {
			border-bottom: 0;
		}

		td:before {
			content: attr(data-label);
			margin-right: 15px;
			font-weight: 600;
		}
	}
}
